body {
  font-family:"Avenir Next";
}

.titleWBS {
  font-size:32px;
  height:40px;
  width:700px;
  padding:5px 10px;
  margin-left:20px;
  margin-bottom:20px;
  border-bottom:2px double black;
}

.operateList {
  font-size:14px;
  height:60px;
  width:700px;
  padding:1px 10px;
  margin-left:20px;
  margin-bottom:20px;
  border:2px dashed black;
}

.topList {
  float:left;
  width:700px;
  margin-top:1px;
}

.topList input {
  width:70px;
}


.taskList {
  background-color:#000080;
  font-size:12px;
  color:#FFF;
  height:100px;
  width:800px;
  padding:5px 10px;
  margin-left:20px;
  margin-bottom:20px;
}

